
collective.ptg.carousel.egg-info/*

*/.DS_Store

collective/ptg/carousel/locales/en/LC_MESSAGES/.DS_Store

collective/ptg/carousel/locales/no/LC_MESSAGES/.DS_Store

collective/ptg/carousel/locales/en/.DS_Store

collective/ptg/carousel/locales/.DS_Store

collective/ptg/carousel/locales/no/.DS_Store

*~
*.pyc

.DS_Store
